h1{
    color: blueviolet;
background-color: yellow;
}

.text {
    color: red;
}

#text2{
    color: brown;
}

.lightblue{
    color: lightblue;
}

table,
th,
td {
    border-collapse: 0;
    padding: 0;
    margin: 0;
    border: 2px double black;
}